<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net40" developmentDependency="true" requireReinstallation="true" />
  <package id="Fody" version="2.1.2" targetFramework="net40" developmentDependency="true" requireReinstallation="true" />
  <package id="Reloaded.Assembler" version="1.0.7" targetFramework="net472" />
  <package id="Reloaded.Memory" version="1.2.2" targetFramework="net472" />
  <package id="Reloaded.Memory.Buffers" version="1.2.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="UnmanagedExports" version="1.2.7" targetFramework="net40" />
</packages>